.container {
  border-radius: 32px;
  background-color: var(--pm-gh-feature-toggle-modal-bg);
  width: calc(100vw - 32px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid var(--pm-gh-feature-toggle-header-border);
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.close {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid var(--pm-gh-feature-toggle-close-border);
  transition: background-color .15s linear, border-color .15s linear;
  background-color: var(--pm-gh-feature-toggle-close-bg);

  &:hover {
    background-color: var(--pm-gh-feature-toggle-close-bg-hover);
    border-color: var(--pm-gh-feature-toggle-close-border-hover);
  }

  &:active {
    background-color: var(--pm-gh-feature-toggle-close-bg-active);
    border-color: var(--pm-gh-feature-toggle-close-border-active);
  }
}

.list {
  margin: 0;
  padding: 34px 24px;
  list-style: none;
  font-family: 'Gilroy';
}

.item {
  display: flex;
  justify-content: space-between;
  font-family: Proxima Nova, sans-serif;

  &:not(:first-child) {
    margin-top: 28px;
  }
}

.label {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 5px;
}

.left {
  align-items: center;
}

.right {
  margin-left: min(30px);
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: var(--pm-gh-feature-toggle-description-color);
  line-height: 20px;
  text-wrap: balance;
}